<%- include('header.ejs') %>

<!-- ..................navbar.................................. -->


<div class="header">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CodeEditor</a>
     
    </div>
    <ul class="nav navbar-nav ">
      <li  >
        <a href="#" id='user' style="color:rgb(0, 60, 255); font-weight: 300; font-size: larger;" >
        <%=user %>
      </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right " >
    
      <li>
        <a href="#" class="navbar-toggler-right" id='othersname' style="color:red; font-weight: 300; font-size: x-large; margin-left: 10px ;margin-right: 10px;  " >
          
        </a>
          
      </li>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" style="margin-top: 10px; margin-left: 10px ;margin-right: 10px;">
        + Invite
       </button>
      
      <button type="button" id="meeting_controls" class="btn btn-danger" data-toggle="modal" data-target="#closeModal" style=" margin-left: 10px ;margin-right: 10px; margin-top: 10px;  " >
      
      </button>
       
       </ul>      

    
  </div>
</nav>
</div>
        <!-- ...................................................... -->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm modal-right">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold;">RoomID</h4>
        <button type="button"  class="close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
        <span style="color: red;"><%=roomId%></span>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="closeModal">
  <div class="modal-dialog modal-sm modal-right">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold;">Interview</h4>
        <button type="button"  class="close" data-dismiss="modal"></button>
         
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
        <span id="modal_data" style="color: red;">
          <%if(user==="Interviewer"){%>
        Do you want to end the interview?
        <%}else{%>
         Do you want to leave the interview?
         <%}%> 

        </span>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="modal_button" class="btn btn-danger" onclick="closeMeeting()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        
      </div>

    </div>
  </div>
</div>


<!-- .............question tab + compiler tab + chats........................................ -->

<div class="container-fluid" id ="smallHeader">
<div class="row container-fluid" >
    <div class="col-sm-3" style="background-color:rgba(0, 0, 0, 0.384); height: 100% color=white; padding-right: 3px;">
      
        <%- include('question.ejs') %>
      
    </div>
    <div class="col-sm-6" style="background-color:rgba(0, 0, 0, 0.384)">
    
        <div>
            
          <ul class="nav nav-tabs"style="background-color:rgba(0, 0, 0, 0.384);height: 100% color=white; padding-right: 3px;">
            <li class="active"><a data-toggle="tab" href="#compiler">Compiler</a></li>
            <li><a data-toggle="tab" href="#whiteboard">Whiteboard</a></li>
          </ul>
              
                
            
            
          <div class="tab-content">
                <div id="compiler" class="tab-pane fade in active">
                 
                    <%- include('compiler.ejs') %>
                
                </div>
                <div id="whiteboard" class="tab-pane fade">
                
                    <%- include('whiteboard.ejs') %>
                
                  
                </div>
                <div id="screen-share" class="tab-pane fade">
                     <%-include('screen_share.ejs') %>
                </div>
                
             </div>
                
          </div> 
        
       </div>
    <div class="col-sm-3" >
     
        <%- include('video.ejs') %>
        
     
      
    </div>
     <div class="col-sm-3">
     
        <ul class="nav nav-tabs"style="background-color:rgba(0, 0, 0, 0.384);height: 100% color=white; padding-right: 3px;">
          <% if(user==="Interviewer"){ %>
          <li class="active"><a data-toggle="tab" href="#Feedback">ScoreCard</a></li>
          <%}else { %>
             <li class="active"><a data-toggle="tab" href="#Notes">Note</a></li>
             <%} %>
          <li><a data-toggle="tab" href="#score-pannel">Chat</a></li>
          
        </ul>
      <div class="tab-content">


        <div id="Feedback" class="tab-pane fade in active">
        
        <%- include('score.ejs') %>
         </div>
         
         <div id="score-pannel" class="tab-pane fade ">
         <%- include('chat.ejs') %>
        </div>
      
        <div id="Notes" class="tab-pane fade in active">
      
         <%- include('note.ejs') %>
        </div>
      
      
    </div>
      
     
    </div>
      
      </ul>
       
     </div>
    


 </div>   
</div>



